html {
  font-family: monospace;
  font-size: calc(1em + 10vmax);
}

body {
  display: flex;
  flex-flow: column;
  margin: auto;
}

figure {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: auto;
  min-height: 100vh;
}

@media (orientation: portrait) {
  figure {
    writing-mode: vertical-lr;
  }
}

var {
  font-style: inherit;
}
